<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script><strong></strong>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
</style>

</head>

<body ng-app="myapp">

<input type="text" ng-model="name" placeholder="enter the text">

<p>{{name}} </p>
<div ng-bind ="name"> </div>

<div ng-init="firstName='john'">

<h2 bg-bind="firstName"> hello </h2>

</div>
<div ng-init="firstName='John'">

<p>The name is <span ng-bind="firstName"></span></p>
{{5 + 5}}
</div>

<div data-ng-controller="myctrl">

<input type="text" ng-model="firstname" > <br>
<input type="text" ng-model="lastname" > <br>

<!--fullname : {{firstname + " "  + lastname}}-->
fullname : {{fullname()}}
</div>
<!--<script>
var app = angular.module ('myapp', []);
app.controller('myctrl',function($scope)
{
	$scope.firstname = "faizal";
	$scope.lastname = "khan";
});
</script>-->

<script>

var app = angular.module('myapp', []);
app.controller('myctrl', function($scope)
{
	$scope.firstname = "faizal";
	$scope.lastname = "khan";
	$scope.fullname = function()
	{
		return $scope.firstname + " " + $scope.lastname;
	}
});

</script>

<div ng-init ="quantity=20;cost=2">

<input type="text" ng-model="quantity" > <br>
<input type="text" ng-model="cost" > <br>

<span ng-bind = "quantity * cost | currency";></span>
</div>

<div data-ng-init="names=['Jani','Hege','Kai']">

 <ul>
 
  <li data-ng-repeat= "x in names" data-ng-bind ="x" >
  

   </li> 
 
 </ul>

</div>

<div data-ng-init="person=[
{name:'ram', country:'india'},
{name:'ram', country:'india'},
{name:'ram', country:'india'}]">

 <ul>
 
  <li data-ng-repeat= "z in person">  
  <p ng-bind = "z.name + ' , ' + z.country"> </p>
  
  
  </li> 
  </ul>
  </div>
  
  <div ng-controller="personCtrl">
  
Firstname : <input type="text" ng-model="first"> <br> <br>
Lastname : <input type="text" ng-model="last"> <br>
 
Fullname :  {{twoname() | uppercase }}
 
  </div>
  
    <div ng-controller="namesCtrl">
    
    <ul>
    
    <li ng-repeat="y in cars | orderBy:'country' "> 
    
     {{ y.car + ' ' + y.country }}
    
    </li>
    
    </ul>
      

  </div>
  
  <div ng-controller="formnames">
  <ul>
  
  <li ng-repeat = "z in form">
    {{ z.name + " " + z.address }}
  
  </li>
  
  </ul>
  
<!--  <table border="1">
  <tr ng-repeat ="z in form | orderBy : 'Country'">
  
     <td ng-if ="$odd"> {{ z.Name }} </td>
      <td ng-if ="$even"  style="background-color:#f1f1f1"> {{ z.Name }} </td>
       <td ng-if="$odd"> {{ z.Country }} </td>
         <td ng-if="$even" style = "background-color:#f1f1f1"> {{ z.Country }} </td>
  </tr>
  
  
  </table>-->
  
  </div>
  <div ng-init="mybutton=true">
  <button ng-disabled="mybutton"> switch </button>
  
  <input type="checkbox" ng-model="mybutton"> hello
 
  <p>
{{ mybutton }}
</p>
</div>
  
  
  <h1 ng-show="true"> iam Visible </h1>
  
  <h2 ng-show="false"> iam not visible </h2>
  
  <div ng-init="hour=13">
  
    <h1 ng-show="hour > 12"> iam Visible </h1>
  </div>
  
  <h2 ng-hide="true"> iam true </h2>
  
  <h2 ng-hide="false"> iam true</h2>
  <script src="personController.js"></script>
  </body>
</html>
